.affMemo {
    width: 100%;
    background-color:white;
    display: flex;
    justify-content: center;
}
th, td{
    border-collapse: collapse;
    width: 150px;
}
th {
    background-color: blue;
    color: white;
}
tr:nth-child(odd) {
    background-color: lightgray;
}
#tab {
    padding: 10px 0 10px 0;
}