@import'_variables.scss';
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}
body{
    background: $greyblue3;
}
li{
    list-style-type: none;
}
.container{
    width: 100%;
    max-width: 1200px;
    min-width: 768px;
    margin:0 auto;
    header{
        background: $greyblue2;
        h1{
            font-family: 'permanant-marker';
            margin-left: $margelogo;
            color: $white;
        }
    }
    nav{
        display: flex;
        justify-content: space-between;
        background-color: $orange;
        ul{
            display: flex;
            color: $white;
            a{
                color: white;
                text-decoration: none;
            }
        }
        ul:first-child{
            li:not(:first-child)::before{
                content:'|';
                padding:0 5px;
            }
        }
        ul:last-child{
            li:not(:first-child)::before{
                content:'-';
                padding:0 5px;
            }

        }
    }
}
.container2{
    display: flex;
    width: 100%;
    .col-left{
        width: 30%;
    }
    section{
        background-color: $greyblue3;
        width: 40%;
    }
    aside{
        border: dashed 1px blue;
        display: flex;
        align-self: flex-start;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        width: 30%;
        .img-fluid2{
            width: 40%;
        }
    }
}
footer ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: $orange;
    color: white;
    font-size: 2rem;
    li:not(:first-child)::before{
        content:'|';
        padding: 0 5px;
    }
}
