h1 {
	/*color: red;*/
	/*h1 est le selecteur*/
	/*propriété color > permet de changer la couleur du texte*/
	/*valeur red > couleur choisie*/
	text-align: center;
	/*propriéte text-align > position le titre*/
	/*valeur > center*/
	font-size: 50px;
	/*propriété :font-size taille du texte> valeur en pixel (px)*/
}

p {
	color: green;
}
/*p:first-of-type {
	color: red;
}
p:last-of-type {
	color:blue;
}
p:nth-child(5) {
	color: yellow;*/
}
.bleu {
	color: blue;
}
#toto {
	color: grey;
	font-family: arial;
}
/*article p {
	color: purple;
}*/
article p,h1 {
	color: purple;
}