* {
    margin: 0;
    padding: 0;
}
#container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.cadre {
    position: relative;
    width: 600px;
    height: 600px;
    border: solid 1px black;
}
.fruit{
    position: absolute;
    border-radius: 100%;
}